.container {
  width: 80%;
  margin: 0 auto;
}

.bloc-tabs {
  display: flex;
  justify-content: space-between;
}

.tabs {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-bottom: none;
}

.tabs.active {
  background-color: #ccc;
}

.content-tabs {
  border: 1px solid #ccc;
  padding: 20px;
}

.content {
  display: none;
}

.active-content {
  display: block;
}

h2 {
  color: #333;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
}

p {
  color: #666;
}
